.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: $break-point-375) {
    flex-wrap: initial;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 19px;
    }
    @media screen and (min-width: $break-point-568) {
      margin-left: 19px;
    }

    &_link {
      font-family: var(--ff-secondary);
      font-size: 16px;
      line-height: 21px;
      color: var(--default-link-color);
      text-decoration: underline;

      &:hover {
        color: var(--default-hover-color);
      }

      &:active {
        color: var(--default-active-color);
      }
    }
  }
}
